[Unit]
Description=Aoba
After= mongodb.service nginx.service
[Service]
Type=simple
SyslogIdentifier=Aoba
ExecStart=/home/ina/Sites/Aoba/run.sh
#Environment=DOTNET_ROOT=/opt/rh/rh-dotnet31/root/usr/lib64/dotnet

KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_CLI_HOME=/home/ina/
# ensure the service restarts after crashing
Restart=always
# amount of time to wait before restarting the service
RestartSec=5

WorkingDirectory=/home/ina/Sites/Aoba/Aoba/Aoba.Server.Core/
[Install]
WantedBy=multi-user.target