
body{
	padding:0;
	margin:0;
}

#floatContainter {
	height: 100%;
	width: 100%;
	position:absolute;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
}


#floatContainter #floatWindow
{
	padding:50px;
	display:flex;
	flex-direction:column;
	background-color:rgb(193 76 255 / 0.21);
	border-radius:16px;
}

form
{
	display:flex;
	flex-direction:column;
	grid-gap:5px;
}