@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/res/css/main.css"/>
		<link rel="stylesheet" href="/res/css/window.css"/>
		<link rel="icon" href="/res/img/Aoba.ico"/>
		<link rel="shortcut-icon" href="res/img/Aoba.ico"/>
		<script src="/res/js/jquery-3.1.1.min.js" type="text/javascript"></script>
		<script src="/res/js/login.js" type="text/javascript"></script>
	</head>
	<title>
		Aoba | Login
	</title>
	<body>
		<div id="windowWrapper">
			<div id="background"></div>
			<div id="window">
				<img src="/res/img/Aoba.ico">
				<h1>Login</h1>
				<form id="login">
					<input type="text" placeholder="Username" name="username" maxlength="128"><br>
					<input type="password" placeholder="Password" name="password"><br>
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</body>
</html>