@import url(vars.css);

#windowWrapper #window
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#player
{
	display:grid;
	grid-template-columns: 200px auto;
	grid-template-rows: auto 80px;
	height: 200px;
	width: 100%;
	color: #fff;
}

#player #art
{
	grid-column: 1;
	grid-row: 1 / span 2;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}

#player #art #playPause
{
	height: 50px;
	width: 50px;
	filter: drop-shadow(0 0 8px #000);
}

#player #info
{
	grid-column: 2;
	grid-row: 1;
	padding: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
}

#info #title
{
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}

#player #controls
{
	grid-column: 2;
	grid-row: 2;
	background-color: rgba(0, 0, 0, .2);
	display: grid;
	grid-auto-rows: auto auto;
}

#controls #seek
{
	grid-row: 1;
	display: grid;
	grid-template-columns: 50px auto 50px;
	align-items: center;
}

#controls #seek #time
{
	grid-column: 1;
}

#controls #seek #progressBar
{
	grid-column: 2;
	height:5px;
	background-color: var(--main-bg-color);
}

#seek #progressBar #progressBarFill
{
	background-color: var(--main-color);
	width: 50px;
	transition: width .5s;
	height: inherit;
}

#controls #seek #timeRemaining
{
	grid-column: 3;
}

#controls #volume
{
	display: grid;
	grid-template-columns: 50px auto 50px;
	align-items: center;
}

#controls #volume #mute
{
	grid-column: 1;
	height: 30px;
	width: 30px;
	filter: drop-shadow(0 0 8px #000);
	margin-left:calc((50px - 30px)/2);
	background-image: url(/res/img/mute.png);
	background-repeat: no-repeat;
	background-position: center;
}

#controls #volume #volumeSlider
{
	grid-column: 2;
	height: 5px;
	background-color: var(--main-bg-color);
}

#volume #volumeSlider #volumeFill
{
	height: inherit;
	width: 80%;
	background-color: var(--main-color);
	transition: width .5s;
}

#controls #volume #volumeValue
{
	grid-column: 3;
}
