@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300');
@import url(vars.css);
*
{
	font-family: 'Roboto', sans-serif;
	
}

h1
{
	font-family: 'Roboto', sans-serif;
}

p
{
	font-family: 'Open Sans', sans-serif;
}

.error
{
	display: block;
	font-family: 'Roboto', sans-serif;
	color: #aa2222;
	background-color: rgba(241, 234, 249, .8);
	padding: 10px;
	margin: 0px;
	border-radius: 5px;
}