@import url(vars.css);

#windowWrapper
{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #111;
}

#windowWrapper #background
{
	background: url("../img/BG.jpg");
	background-position: right;
	background-size: cover;
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	height: inherit;
	width: inherit;
}

#windowWrapper #window
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	z-index: 1;
	/*height: 400px;*/
	padding:  50px 0px 50px 0px;
	width: 500px;
	background: rgba(88, 63, 114, .6);
	text-align: center;
	box-shadow: 0px 0px 20px rgba(88, 63, 114, .5);
	/*box-shadow: 0px 0px 20px rgba(0,0,0, .2);*/
	border-radius: 10px;
	overflow: hidden;
}

#header
{
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0;
	height:100px;
	width: 100%;
	display: grid;
	grid-template-columns: 20px 100px 20px auto 20px auto 20px;
	filter: drop-shadow(0px 0px 5px var(--main-color));
}

#header #logo
{
	grid-column: 2;
	background: url(/res/img/Aoba.ico);
	background-size: contain;
}

#header #title
{
	grid-column: 4;
	font-size: 80px;
	line-height: 100px;
	color: var(--main-bg-color);
}

#header #user
{
	grid-column: 6;
	text-align: right;
	line-height: 100px;
	font-size: 70px;
}

#windowWrapper #window.big
{
	width: 100%;
	border-radius: 0px;
	top: calc((2 * 20px) + 100px);
	height: calc(100% - (2 * 20px) - 100px - (2* 50px) - 20px);
}

#window h1
{
	font-weight: 300;
	margin: 0 0 10px 0px;
	color: var(--main-color-2);
	display: block;
}

#window h3
{
	color: var(--main-color-2);
	font-weight: 300;
}

#window input
{
	margin: 10px;
	padding: 5px 10px 5px 10px;
	transition: border .25s, background-color .25s, color .25s;
	border: 1px solid var(--main-color-2);
	background-color: rgba(241, 234, 249, .8);
	color:var(--main-color);
	outline: none;
	font-size: 18px;
	width: 200px;
	border-radius: 5px;
}

#window input[type="submit" ]
{
	width: auto;
	margin: 15px 0 0 0;
	background-color: var(--main-bg-color);
	color: var(--main-color);
	border: 1px solid var(--main-color-2);
}

#window input[type="submit" ]:hover
{
	border: 1px solid var(--main-color-2);
	background-color: var(--main-color);
	color:var(--main-color-2);
}

#window input:hover
{
	border: 1px solid var(--main-color);
	background-color: rgba(241, 234, 249, 1);
}

#window input.invalidInput
{
	border: 1px solid #f00;
}
