@{
	Layout = "_LayoutFloat";
	ViewData["title"] = "Login";
}

@section Scripts
{
	<script src="~/js/Auth/login.js" asp-append-version="true"></script>
}


<form data-return="@ViewData["returnUrl"]">
	<label>Username</label>
	<input type="text" name="username" />
	<label>Password</label>
	<input type="password" name="password" />
	<input type="submit" value="Login"/>
</form>