@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML>
<html>
	<head>
		<title>
			Aoba
		</title>
		<link rel="icon" href="/res/img/Aoba.ico"/>
		<link rel="shortcut-icon" href="/res/img/Aoba.ico"/>
		<link rel="stylesheet" href="/res/css/main.css"/>
		<link rel="stylesheet" href="/res/css/window.css"/>
		<link rel="stylesheet" href="/res/css/audioPlayer.css"/>
		<script src="/res/js/jquery-3.1.1.min.js"></script>
		<script src="/res/js/aurora.js" type="text/javascript"></script>		
		<script src="/res/js/flac.js" type="text/javascript"></script>
		<script src="/res/js/mp3.js" type="text/javascript"></script>
		<script src="/res/js/aac.js" type="text/javascript"></script>
		<script src="/res/js/alac.js" type="text/javascript"></script>
		<script src="/res/js/audioPlayer.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="windowWrapper">
			<div id="background"></div>
			<div id="window">
				<img src="/res/img/Aoba.ico">
				<div id="audioPlayer" data-uri="@Model.rawUri" data-format="@Model.format">
					<div id="playButton">
						<img id="playIcon" src="/res/img/PlayButton.png">
					</div>
					<div id="playbackContainer">
						<div id="info">
							<img id="art" src="/res/img/Aoba.ico">
							<div id="text">
								<div id="title">Loading...</div>
								<div id="artist"></div>
								<div id="time"></div>
							</div>
						</div>
						<div id="seekBar">
							<div id="fill"></div>
						</div>
					</div>
					<div id="volume"></div>
				</div>
			</div>
		</div>
	</body>
</html>