@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML>
<html>
	<head>
		<title>
			Aoba
		</title>
		<link rel="stylesheet" href="/res/css/main.css"/>
		<link rel="stylesheet" href="/res/css/window.css"/>
		<link rel="icon" href="/res/img/Aoba.ico"/>
		<link rel="shortcut-icon" href="/res/img/Aoba.ico"/>
	</head>
	<body>
		<div id="windowWrapper">
			<div id="background"></div>
			<div id="window">
				@Model.code
			</div>
		</div>
	</body>
</html>