<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.4.0" targetFramework="net47" />
  <package id="Flurl.Http" version="1.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="SharpShell" version="2.2.0.0" targetFramework="net47" />
</packages>