#audioPlayer
{
	--height:80px;
	--width:450px;
	display:flex;
	flex-direction: row;
	height: var(--height);
	width: var(--width);
}

#audioPlayer #playButton
{
	background-color: #333;
	width: var(--height);
	height: var(--height);
	display: flex;
	align-items: center;
	justify-content: center;
}

#playButton #playIcon
{
	height: 50px;
	width: 50px;
}

#audioPlayer #playbackContainer
{
	display: block;
	height: inherit;
	background-color: #400;
	width: calc(100% - 100px);
}

#playbackContainer #info
{
	height: calc(100% - 5px);
	background-color: #004;
	display: flex;
	color: #fff;
}

#info #art
{
	display: block;
	height: calc(var(--height) - 5px);
	width: calc(var(--height) - 5px);
	background-color: #777;
}

#info #text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: left;
	padding-left: 10px;
}

#info #text #title
{
	
}
#info #text #artist
{
	color: #ccc;
}

#info #text #time
{
	color: #aaa;
	font-size: 12px;
}

#playbackContainer #seekBar
{
	height: 5px;
	width: 100%;
	background-color: #444;
}

#playbackContainer #seekBar #fill
{
	background-color: #fff;
	width: 0%;
	height: inherit;
}

#audioPlayer #volume
{
	height: var(--height);
	width: var(--height);
	background-color: #040;
}